# APP_NAME=Bujo Digitizer

# Logging level for the app: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

# --- OpenAI settings ---
OPENAI_API_KEY=
OPENAI_BASE_URL=

# --- Paperless settings ---
PAPERLESS_BASE_URL=
PAPERLESS_TOKEN=

# SQLITE_PATH=

# --- worker settings ---
## Number of seconds for the PDF worker to poll the queue
WORKER_POLL_SECONDS=2.0
WORKER_CONCURRENCY=1
## Number of seconds for the worker to requeue failed jobs
WORKER_RETRY_INTERVAL_SECONDS=3600.0
JOB_MAX_ATTEMPTS=3
