{% for page in pages %}
<figure class="page">
	<img class="page-image" src="/reviews/{{ row.id }}/page/{{ page.index }}" alt="Page {{ page.index + 1 }}">
	<div class="overlay">{{ page.bbox_html | safe }}</div>
</figure>
{% endfor %}

<form hx-post="/reviews/{{ row.id }}" hx-target="#update-result">
	<textarea name="parse_result" class="parse-result fill-parent">{{ row.parse_result or "" }}</textarea>

	<div class="button-group">
		<a
			href="/reviews/{{ row.id }}/document"
			target="_blank"
			rel="noopener"
			class="button"
		>
			Open original document
		</a>
		<button type="submit">Update</button>
		<button
			hx-delete="/reviews/{{ row.id }}"
			hx-confirm="This action will delete the review data. Are you sure you want to continue?"
			hx-target="#update-result"
			type="button"
		>
			Mark as reviewed and delete
		</button>
		<a
				href="{{ paperless_base_url }}/documents/{{ row.paperless_doc_id }}"
			target="_blank"
			rel="noopener"
			class="button"
		>
			Paperless link
		</a>
	</div>

	<div id="update-result"></div>
</form>
